body{
    margin: 0;
}

button, form{
    all:unset;
}

header{
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem;
    box-shadow: 0px 6px 5px 0px rgba(184,184,184,1);
}

.showForm{
    display: flex;
    color: black;
    border: 1px solid black;
    width: 200px;
    height: 80px;
    margin: 30px auto 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.bookForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    border-radius: 15px;
    background-color: gray;
    width: 300px;
    height: 500px;
    padding: .5rem 1.5rem 1.5rem;
    justify-content: space-between;
}

.bookInput{
    height: 1rem;
    padding: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.formLabel{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.formInputSection{
    display: flex;
    flex-direction: column;
    flex: 4;
    margin: 0 auto;
    justify-content: space-around;
}

.formButtonSection{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
}

.formButton{
    width: fit-content;
    height: fit-content;
    padding: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
}

.bookGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    margin: 50px auto;
    gap: 2rem;
}

.bookGrid>*{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    height: 400px;
    border-radius: 15px;
    background-color: gray;
}

.bookInfoContainer{
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px 15px 0 0;
}

.bookTitle{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.bookInfo{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.bookButtons{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 0 0 15px 15px;
}

input[type="checkbox"]{
    height: 2rem;
    width: 2rem;
}

.bookRead{
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.removeBook{
    width: 15%;
    fill: #ffffff;
    cursor: pointer;
}